
.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.xml
*.iml
*.txt
*.cmake
*.bin
*.out
*.c
*.cbp
ch7/Exercise/uva208/cmake-build-debug/Makefile
*.make
*.marks
*.cxx
*.check_cache
ch7/Exercise/uva208/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.log
ch7/Exercise/uva208/cmake-build-debug/CMakeFiles/Makefile2
ch7/Exercise/uva208/cmake-build-debug/CMakeFiles/uva208.dir/CXX.includecache
*.internal
*.o
ch7/Exercise/uva208/cmake-build-debug/uva208
ch7/Exercise/Uva225/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
ch7/Exercise/Uva225/cmake-build-debug/CMakeFiles/Makefile2
ch7/Exercise/Uva225/cmake-build-debug/CMakeFiles/Uva225.dir/CXX.includecache
ch7/Exercise/Uva225/cmake-build-debug/Makefile
ch7/Exercise/Uva225/cmake-build-debug/Uva225
ch7/Exercise/uva211/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
ch7/Exercise/uva211/cmake-build-debug/CMakeFiles/Makefile2
*.includecache
ch7/Exercise/uva211/cmake-build-debug/Makefile
ch7/Exercise/uva211/cmake-build-debug/uva211
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
